/*on off switch*/

input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
  }
  
  label {
    display: block;
    position: absolute;
    width: 60px;
    height: 34px;
    border-radius: 17px;
    background-color: #ddd;
    transition-duration: 0.2s;
  }
  
  label span {
    position: absolute;
    left: 3px;
    top: 3px;
    z-index: 1;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
    transition-duration: 0.2s;
  }
  
  label:before,
  label:after{
    position: absolute;
    top: 0;
    width: 34px;
    font-size: 11px;
    line-height: 34px;
    color: #fff;
    text-align: center;
  }
  
  label:before {
    left: 0;
    content: 'ON';
  }
  
  label:after {
    right: 0;
    content: 'OFF';
  }
  
  input:checked + label {
    background-color: #4a4a4a;
  }
  
  input:checked + label span {
    /* left: 29px; */
    transform: translateX(26px);
  }
  
  /* ----------------------- */
  
  /* head table */
  
  table.type1 {
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 20px 10px;
  }
  table.type1 thead th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #000000ba;
    margin: 20px 10px;
  }
  table.type1 th {
    width: 150px;
    padding: 10px;
  }
  
  
  /* ----------------------- */
  
  /* body table */
  
  tr.type2 {
    border-collapse: separate;
  }
  
  tr.type2 td {
    border-collapse: collapse;
    border: solid 1px black;
    text-align: center;
    width: 400px;
    border-radius: 15px;
  }
  /* ----------------------- */
  
  #div1 {
    position: absolute;
    /*right:100px;*/
  }
  
  #div2 {
    position: relative;
    top:40px;
  }

 /* ----------------------- */

  table.type3 {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    margin : 20px 10px;
  }
  table.type3 th {
    width: 150px;
    padding: 10px;
    font-weight: bold;  
    vertical-align: top;
  }
  table.type3 td {
    width: 200px;
    padding: 10px;
    vertical-align: top;
  }

  .line {
    border-bottom: 1px solid #ccc;
  }


.w-btn {
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

.w-btn-gra1 {
  background: linear-gradient(-45deg, #33ccff 0%, #ff99cc 100%);
  color: white;
}

.w-btn-gra-anim {
  background-size: 400% 400%;
  animation: gradient1 5s ease infinite;
}

@keyframes gradient1 {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.btn {
  margin-top: 80px;
}
